body {
    font-family: 'Lora', serif;
    /* Changed font */
    /* Subtle off-white background */
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #333;
    /* Dark gray text color */
    position: relative;
    /* Required for positioning the pseudo-element */
    min-height: 100vh;
}

body::before {
    content: "";
    background-image: url('papyrus.png');
    background-repeat: repeat;
    opacity: 0.5;
    /* Adjust opacity here */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Place the pseudo-element behind the content */
}

.entry {
    margin: 0 auto 40px auto;
    padding: 30px;
    /* Increased padding */
    max-width: 768px;
    border: 2px solid #eee;
    /* Light gray border */
    border-radius: 8px;
    /* Slightly rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle box shadow */
}

h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #222;
    /* Slightly darker heading color */
}

.date {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    /* Increased font size */
    line-height: 1.6;
    /* Increased line height */
    text-align: left;

    font-style: italic;
}

a {
    /* Style for links */
    color: #007bff;
    /* Blue accent color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .entry {
        padding: 10px;
        max-width: none;
        /* Remove max-width on smaller screens */
    }
}